<div id="scroll"></div>
    <section class="contact">
      <div class="contactInfo">
        <div>
          <h1>Address</h1>
          <p>500 Terry Francine Street</p>
          <p>San Francisco, CA 94158</p>
        </div>
        <div>
          <h1>Opening Hours</h1>
          <p>Mon - Fri: 11am - 10pm</p>
          <p>Sat - Sun: 11am - 12am</p>
        </div>
        <div>
          <h1>Contact Us</h1>
          <p>info&#64;mysite.com</p>
          <p>123 456 6780</p>
        </div>
      </div>
    </section>

<div class="line"></div>

<section>
    <div class="Follow">
        <p>Follow us on:</p>
        <div class="icons">
          <a href="https://www.instagram.com/wix/#" target="_blank"
            ><i class="fa-brands fa-instagram"></i
          ></a>
          <a href="https://www.facebook.com/wix" target="_blank"
            ><i class="fa-brands fa-facebook-f"></i
          ></a>
          <a href="https://www.youtube.com/user/Wix" target="_blank"
            ><i class="fa-brands fa-youtube"></i
          ></a>
          <a href="https://www.pinterest.com/wixcom/" target="_blank"
            ><i class="fa-brands fa-pinterest-p"></i
          ></a>
        </div>
    </div>
</section>




