<section class="banner">
    <div class="texts">
      <h1>Fast and efficient, online ordering you must try.</h1>
    </div>
</section>

<section class="About">
    <div class="aboutText">
      <div class="history">
        <h1>Our Restaurant</h1>
        <p>
          Here in Umami, we invite you to experience the exquisite dining
          within tranquillity and elegance of our interior. The philosophy
          behind the Asian Fusion is simple yet sophisticated; It is all about
          showcasing the absolute best of what Asian food tradition has to
          offer. Indulge yourself with Umami's signature Uramakis as you
          witness Chef's masterful craft behind the show kitchen.
        </p>
      </div>
      <div class="aboutPhoto">
        <img src="home.png" alt="NotFound"/>
      </div>
    </div>
</section>

<section class="menu">
    <div class="menuText">
      <h1>Let's Enjoy</h1>
      <h1>High Quality Food & Professional Chef Recipe</h1>
      <a routerLink="/menu"><button class="buttonMenu">View The Menu</button></a>
    </div>
</section>

